__pycache__/

build/
dist/
downloads/
env/
lib/
lib64/
log/
logs/

sparsehash/
torchsparse/
torchsparse_dir/

.cache
.env
.ipynb_checkpoints
.Python
.python-version
.vscode

*.DS_Store
*.egg
*.egg-info/
*.log
*.pth

create/roadview_c/fog/heavy_fog.sh
create/roadview_c/fog/heavy_fog.sh
create/roadview_c/fog/moderate_fog.sh
create/roadview_c/fog/light_fog.sh

visualizations/visualization_config.yaml

